/inputs.npy
/normedInputs.npy
/normedTargets.npy
/targets.npy
/8X8_inputs.npy
/8X8_targets.npy
/8x8NormedInputs.npy
/8x8NormedTargets.npy
/inputsConversion8x8.txt
/inputsConversion32x32.txt
/targetsConversion8x8.txt
/targetsConversion32x32.txt
